

/* all */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {font-family: 'Noto Sans KR', sans-serif;}

/* 占쏙옙占쏙옙 占싸븝옙 */
*{margin: 0; padding: 0; font-family: 'Noto Sans KR'; box-sizing: border-box;}
ol, ul, li {list-style: none;}
.indexbody{ overflow-x: hidden; height: 100%; min-height: 100%;}

/* header */
header {width: 100%; left:0; top:0; height: 55px; background: #05d7e2; z-index: 100; padding-top: 5px;
position: fixed; display: inline-block;}

/* header - header_area*/
header > .header_area > a {float: left; padding-left: 10px;} 

/* header - header_area - logo*/
.logo { padding-top: 9px; font-size: 21px; font-weight: bold; margin-left: 30px; text-decoration: none; color: #fffbe8;}
.logo > span { padding-top: 5px; font-size: 18px; padding-left: 10px; font-weight: bold;}

/* header - info */

header > .info { float: right; padding: 12px 10px 5px 0; font-size: 12px; font-weight: bold;}
header > .info ul li { display: inline-block; }
header > .info ul li::after { content: "|"; color: #fffbe8; display: inline-block; padding: 0 18px; }
header > .info ul li:last-child::after { content: ""; }
.info  li > a { text-decoration: none; color: #fffbe8;}

/* conatiner */

/* conatiner - category */
.category { background-color: #05d7e28a; width: 210px; box-sizing: border-box; height: 100%; position:fixed; overflow-y: auto;
padding-top: 55px; padding-bottom: 100px; margin-left: -10px;} 
.category::-webkit-scrollbar { display: none;}

/* conatiner - category - profile */
.profile {height: 147px; text-align: center; font-size: 15px; color: #fffbe8;}
.profile_img { width: 80px; height: 110px; }
.profile p {margin: 7px 0 0; font-size: 15px; font-weight: bold;}

/* conatiner - category - main */
.main_page { height: 50px; padding: 10px 15px 15px 5px; margin-top: 10px;} 
.main_page a {font-size: 14px; font-weight: bold; }
.main_page a { text-decoration: none; color: #fffbe8; padding-left: 10px;}

/* conatiner - category - list_detail */
.list_detail{justify-content: center; }

/* conatiner - category - list_detail - sub_title */
.sub_title { height: 50px; width: 210px; box-sizing: border-box; padding:10px 0 0 10px;}
.sub_title > a { width: 210px; font-size: 14px; color: #fffbe8; text-decoration: none; font-weight: bold; padding: 16px 16px 16px 5px;}
.sub_title ul { box-sizing: border-box;}
.sub_title > a > img { float: right; margin-right: 10px; margin-top: 6px;}

/* conatiner - category - list_detail - sub_menu */

.list_detail #sub_menu_1, #sub_menu_2, #sub_menu_3,#sub_menu_4, #sub_menu_5
{ font-size: 13px; padding: 10px 0; background-color: #05d7e2;}
#sub_menu_1 li a, #sub_menu_2 li a, #sub_menu_3 li a, #sub_menu_4 li a, #sub_menu_5 li a{
    color: white;
    text-decoration: none;
}
#sub_menu_1 li, #sub_menu_2 li, #sub_menu_3 li, #sub_menu_4 li, #sub_menu_5 li{
    padding: 4px 15px 9px;
}

#sub_menu_1_1.strong, #sub_menu_1_2.strong, #sub_menu_1_3.strong, #sub_menu_1_4.strong,
#sub_menu_1_5.strong, #sub_menu_2_1.strong, #sub_menu_2_2.strong, #sub_menu_2_3.strong,
#sub_menu_2_4.strong, #sub_menu_3_1.strong, #sub_menu_3_2.strong,
#sub_menu_4_1.strong, #sub_menu_4_2.strong, #sub_menu_4_3.strong, #sub_menu_4_4.strong,
#sub_menu_5_1.strong, #sub_menu_5_2.strong, #sub_menu_5_3.strong, #sub_menu_5_4.strong,
#sub_menu_5_5.strong, #sub_menu_5_6.strong, #sub_menu_5_7.strong{color:#fae27f;}

.list_detail > #sub_menu_1.on{display: none;}
.list_detail > #sub_menu_2.on{display: none;}
.list_detail > #sub_menu_3.on{display: none;}
.list_detail > #sub_menu_4.on{display: none;}
.list_detail > #sub_menu_5.on{display: none;}

/* 占쏙옙占쏙옙 占십록삼옙 占쏙옙占� 타占쏙옙틀 */
.green_title_s {padding: 14px 30px; font-size: 17px; background-color: #05d7e2 ;color: white;
    margin-bottom: 40px;  box-shadow: 5px 5px 5px rgb(180, 180, 180);}
.green_title_s span { font-size: 14px; margin-left: 3px;}
.green_title {padding: 14px 30px; font-size: 17px; background-color: #05d7e2 ;color: white; box-shadow: 5px 5px 5px rgb(180, 180, 180);}
.green_title span { font-size: 14px; margin-left: 3px;}

.product_title_s { border-bottom: 3px solid #05d7e2; padding-bottom: 12px; margin: 20px}


/*button*/

.bottom_btn { text-align: center; margin: 10px 0; }
.bottom_btn input[type="reset"], .bottom_btn input[type="submit"], .bottom_btn input[type="button"] { width: 80px; height: 35px;}

input[type="button"], input[type="submit"], input[type="reset"],button[type="submit"],button[type="reset"]
{ padding: 4px 16px; background-color: white; color: #05d7e2; border: 1px solid #05d7e2; border-radius: 5px; font-size: 13px; box-shadow: 3px 3px 3px #05d7e2;}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button[type="submit"]:hover, button[type="reset"]:hover
{ background-color: #05d7e2; color: white ;}

/*input*/
input[type="text"], input[type="date"], input[type="email"], input[type="password"], input[type="tel"] {
    height: 38px;padding-left: 10px; caret-color: #2d858b; border-radius: 5px; border: 1px solid #266266; box-shadow: 2px 2px 2px #9B9B9B;}


/* 占쏙옙占쏙옙占쏙옙 占쌘쏙옙 */
.pageBox ul {display: flex; justify-content: center;}
.pageBox > ul > li
{border: 1px solid #ebebeb; width:30px; text-align: center; margin-top: 10px;
    border-top: 1px solid #555252bd; border-bottom: 1px solid #555252bd;}
.pageBox > ul > li a {text-decoration: none; color:#555252bd;}
.pageBox > ul > li a:visited {color:#555252bd;}
#Maxprev {border-left: 1px solid #555252bd;}
#Maxnext {border-right: 1px solid #555252bd;}

/*table*/
table { border-collapse: collapse;}
table th{ min-width: 110px;}
table input{min-width:200px;}
/*section*/
section{margin-top: 60px; margin-right: 210px; padding-left: 230px;}

/*content title*/
.content_title {  margin: 11px; background-color: white; padding: 15px 30px; box-shadow: 5px 5px 5px rgb(180, 180, 180); min-width:715px; }
.content_title p {  font-size: 22px; font-family: 'netmarbleM'; }
.content_title span { font-size: 17px; margin-left: 15px; font-family: 'netmarbleM'; }


/* 페이지 박스 */
.pageBox ul {display: flex; justify-content: center;}
.pageBox > ul > li
{border: 1px solid #ebebeb; width:30px; text-align: center; margin-top: 10px;
    border-top: 1px solid #555252bd; border-bottom: 1px solid #555252bd;}
.pageBox > ul > li a {text-decoration: none; color:#555252bd;}
.pageBox > ul > li a:visited {color:#555252bd;}
#Maxprev {border-left: 1px solid #555252bd;}
#Maxnext {border-right: 1px solid #555252bd;}


/* 위에 초록색 목록 타이틀 */
.green_title_s {padding: 14px 30px; font-size: 17px; background-color: #266266 ;color: white;
    margin-bottom: 40px;  box-shadow: 5px 5px 5px rgb(180, 180, 180);}
.green_title_s span { font-size: 14px; margin-left: 3px;}
.green_title {padding: 14px 30px; font-size: 17px; background-color: #266266 ;color: white; box-shadow: 5px 5px 5px rgb(180, 180, 180);}
.green_title span { font-size: 14px; margin-left: 3px;}

/* 페이지 선택 부분 */
.content_title_click { background-color: white; margin: 11px; padding: 15px 0; font-size: 18px; text-align: center; box-shadow: 5px 5px 5px rgb(180, 180, 180);}
.content_title_click a {  color: rgb(77, 75, 75);  margin: 0 90px 0 70px;  text-decoration: none; cursor: pointer; font-family: 'netmarbleM';}
.content_title_click a:hover { color: rgb(151, 148, 148); }

/* 버튼, lnput 부분 */
.bottom_btn { text-align: center; margin: 10px 0; }
.bottom_btn input[type="reset"], .bottom_btn input[type="submit"] .bottom_btn input[type="button"] { width: 80px; height: 35px;}


input[type="text"], input[type="date"], input[type="email"], input[type="password"], input[type="tel"] {
    height: 38px;padding-left: 10px; caret-color: #2d858b; border-radius: 5px; border: 1px solid #266266; box-shadow: 2px 2px 2px #9B9B9B;}

input[type="button"], input[type="submit"], input[type="reset"],button[type="submit"],button[type="reset"] { padding: 4px 16px; background-color: white; color: #266266; border: 1px solid #266266; border-radius: 5px; font-size: 13px; box-shadow: 3px 3px 3px #9B9B9B;}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button[type="submit"]:hover, button[type="reset"]:hover
{ background-color: #266266; color: white ;}

.file_input_textbox{float: left}
.file_input_div{position: relative; width: 250px; height: 40px; overflow: hidden;}
.file_input_hidden
{font-size: 23px; position: absolute; right: 0px; top: 0px; opacity: 0;}
.file_input_button
{position: absolute; top: 0px;color: #FFFFFF;border-style: solid;background-color: #266266;
    color: white; text-align: center; border-radius: 5px; width: 250px;height: 40px;}
.file_input_hidden
{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0;
    filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;}

.file_input_div_t
{position: relative; width: 120px; height: 40px; overflow: hidden; margin-top: -13px;
    margin-left: -20px;}

.file_input_button_t
{position: absolute; top: 0px;color: #9b9b9b;border-style: solid;background-color: #266266;
    color: white; text-align: center; border-radius: 5px; width: 120px;height: 40px;}

.file_input_hidden_t
{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0;
    filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;}

.graph{width: 30%;}


/*Product Category*/

.Pcate_c1 {display: flex; flex-wrap: wrap; background-color: white;
    margin: 11px; padding: 50px 30px;}
.Pcate_c1_box{display: flex; margin: 0 auto; padding-right: 100px;}
.Pcate_c1_title {background-color:  white; box-sizing: border-box; width: 100px; border: 1px solid #266266; border-radius: 10px;
    height: 50px; display: flex; justify-content: center; align-items: center; color: #266266;}
.Pcate_c1_cateBox_1{margin-left: 10px;}
.Pcate_c1_cateBox_1 ul {width: 500px; height: 300px; overflow-y: auto; border: 2px solid #ebebeb;}
.Pcate_c1_cateBox_1 ul li {height: 50px; box-sizing: border-box; padding-top: 13px; padding-left: 10px;}
.Pcate_c1_cateBox_1 ul li:hover {background-color: #ebebeb;}
.Pcate_c1_cateBox_2{width: 500px; height: 300px; border: 2px solid #ebebeb;}
.Pcate_c1_btnBox { text-align: center; margin-top: 10px;}
.Pcate_c2 {background-color: white; margin: 11px; padding:20px 30px;}
.Pcate_c2_title {font-size: 20px; margin-bottom: 30px; padding: 20px 40px;}
.Pcate_c2_img {width: 1000px; height: 300px; border: 2px solid #ebebeb; margin: 0 auto; box-shadow: 8px 8px 8px rgb(163, 163, 163); position: relative;}
#Pcate_banner{ position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);
    width: 950px; height: 200px;}
.Pcate_c2_description{color:rgb(240, 165, 3); font-size: 14px; margin-top: 15px;}
.Pcate_c2_submit {float: right; width: 750px; height: 40px;}
.Pcate_c2_file {width: 250px;}
.Pcate_c2_title span { border-bottom: 3px solid #266266; padding-bottom: 10px; }
.sel_catename { margin-bottom: 10px; font-size: 15px; }

/*ProductList*/

.PL_c2{margin: 11px; background-color: white;}
.PL_c1{margin: 11px; background-color: white; padding: 11px 30px;}
.PL_c1_searchBox_1{display: flex; margin-bottom: 10px; justify-content: center;}
.PL_c1_searchBox_2{display: flex; margin-bottom: 10px; justify-content: center;}
.PL_c1_searchBox_3{display: flex; margin-bottom: 10px; justify-content: center;}

.PL_c1_searchBox_1 > p
{margin-right: 50px; font-size: 20px; margin-bottom: 10px; box-sizing: border-box;}
.PL_c1_searchBox_2 > p
{margin-right: 70px; font-size: 20px; margin-bottom: 10px; box-sizing: border-box;}
.PL_c1_searchBox_3P
{margin-right: 80px; font-size: 20px; margin-bottom: 10px; box-sizing: border-box;}
.PL_c1_checkBox > label {margin-left: 30px; font-size: 20px;}

#PL_c1_select_1{width: 200px; height: 40px;
    text-align-last: center; vertical-align: center;
    -ms-text-align-last: center; -moz-text-align-last: center;
}

#PL_c1_select_2{width: 200px; height: 40px; text-align-last: center; vertical-align: center; margin-left: 5px;}
.PL_c1_textBox_1 {margin-left: 50px; width: 300px;}
.PL_c1_textBox_2 {margin-left: 35px; width: 300px;}
.PL_c1_shbtnBox {text-align: center;}
.PL_c1_searchBox_scName > p:first-child {margin-bottom: 10px;}
.PL_c2_prodcList{text-align: center; margin: 0 auto; width: 90%; margin-top: 10px;}
.product_list{width: 90%;}
.PL_c2_prodcList p {margin-left: 10px;}
.PL_c2_prodcList th {background-color: #ebebeb; color:#555252bd;}
.PL_c2_btnBox{margin-left: 5%;}

/* 팝업창 css */
.mw { position:fixed; top:0; left:0; width:100%; height:100%; display:none; z-index: 1;}
.mw_s { position:fixed; top:0; left:0; width:100%; height:100%; display:none; z-index: 1;}
.mw_t { position:fixed; top:0; left:0; width:100%; height:100%; display:none; z-index: 1;}

.mw .bg {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50); z-index: 1;}
.mw_s .bg_s {position:fixed;top:0;left:0;width:100%;height: 100%;background:#000;opacity:.5;filter:alpha(opacity=50); z-index: 1;}
.mw_t .bg_t {position:fixed;top:0;left:0;width:100%;height: 100%;background:#000;opacity:.5;filter:alpha(opacity=50); z-index: 1;}


.mw .fg {position:absolute; top:50%; left:50%; width:600px; height:500px;  transform: translate(-50%, -50%); border:3px solid #ccc;background:#fff; z-index: 1;}
.mw_s .fg_s {position:absolute; top:50%; left:50%; width:600px; height:260px;  transform: translate(-50%, -50%); border:3px solid #ccc;background:#fff; z-index: 1;}
.mw_t .fg_t {position:absolute; top:50%; left:50%; width:600px; height:260px;  transform: translate(-50%, -50%); border:3px solid #ccc;background:#fff; z-index: 1;}

ul li { list-style: none; }

.Modal { margin: 30px auto; background-color: white; }
.modal_list ul li:hover { background-color: #ebebeb;}
.modal_list {  display: flex; margin-top: 30px;}
.modal_list span { font-size: 16px; font-weight: bold; }
.modal_list ul { width: 383px; height: 250px; overflow-y: auto; border: 2px solid #ebebeb; margin-left: 27px;}
.modal_list ul li { font-size: 15px; height: 50px; box-sizing: border-box; padding-top: 13px; padding-left: 10px; border: 0.5px solid #ebebeb;}
.modal_search span { font-size: 16px; font-weight: bold; }
.modal_search input[type="button"] { width: 70px; height: 38px; font-size: 15px;}
.modal_search input[type="text"] { border: 1px solid #999; border-radius: 5px; }
.modal_search { text-align: center; }
button[type="submit"], button[type="reset"] { width: 70px; height: 38px; font-size: 15px; }
.modal_btn { margin-top: 20px;  text-align: center; }
.modal_btn input[type="reset"],.modal_btn input[type="button"] { box-shadow: 3px 3px 3px #999; height: 34px; width: 80px;}
.modal_closeBtn{width: 30px; height:30px; float: right; cursor: pointer; margin-top: -1px;}
.modal_greentitle { padding: 14px 10px 14px 20px; font-size: 18px; background-color: #266266; color: white; }

.modal_search_s span { font-size: 15px; font-weight: bold; }
.modal_search_s input[type="button"] { width: 70px; height: 38px; font-size: 15px;}
.modal_search_s input[type="text"] { border: 1px solid #999; border-radius: 5px; width: 100px;}
.modal_search_s {text-align: center;}

.modal_search_t span { font-size: 15px; font-weight: bold; }
.modal_search_t input[type="button"] { width: 70px; height: 38px; font-size: 15px;}
.modal_search_t input[type="text"] { border-radius: 5px; width: 100px;}
.modal_search_t {text-align: center;}

.modal_search_k span { font-size: 15px; font-weight: bold; }
.modal_search_k input[type="button"] { width: 70px; height: 38px; font-size: 15px;}
.modal_search_k input[type="text"] { border-radius: 5px; width: 100px;}
.modal_search_k {text-align: center;}

.modal_search_o span { font-size: 15px; font-weight: bold; }
.modal_search_o input[type="button"] { width: 70px; height: 38px; font-size: 15px;}
.modal_search_o input[type="text"] { border-radius: 5px; width: 100px;}
.modal_search_o {text-align: center;}

/* 기간버튼 css */
.datebtn input { height: 38px; box-shadow: 3px 3px 3px #9B9B9B; border: 2px solid #266266;}


/* 어드민 - 주문관리 - 상세 - 상태변경하기 버튼 수정 */
.bottom_btn input[type="button"] { height: 35px; }

#PS_c1_img {width: 400px; height: 200px; border: 1px solid #266266; margiwn-left: -30px}
.file_input_div_p
{position: relative; width: 120px; height: 40px; overflow: hidden; margin-top: -40px; margin-left: 430px}

.file_input_button_p
{position: absolute; top: 0px;color: #9b9b9b;border-style: solid;background-color: #266266;
    color: white; text-align: center; border-radius: 5px; width: 120px;height: 40px;}

.file_input_hidden_p
{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0;
    filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;}

/* 공통 부분 */
* { margin: 0; padding: 0; font-family: 'Noto Sans KR'; box-sizing: border-box; }
body {  overflow-x: hidden; background-color: #ebebeb; width: 100%; }
.content_title {  margin: 11px; background-color: white; padding: 15px 30px; box-shadow: 5px 5px 5px rgb(180, 180, 180);}
.content_title p {  font-size: 21px; }
.content_title span { font-size: 16px; margin-left: 10px; }

input[type=checkbox]{overflow: hidden; position: absolute; left:-1000px; width: 1px; height: 1px;}
input[type=checkbox] + label{
    display: inline-block; height: 20px; padding-left: 25px !important; line-height: 13px !important;
    background: url(../img/checkbox.png) no-repeat 0 0; background-size: 15px;
    cursor: pointer; vertical-align: middle; font-size: 15px;}
input[type=checkbox]:checked + label{background: url(../img/checked.png) no-repeat 0 0; background-size: 15px;}

.file_input_textbox{float: left}
.file_input_div{position: relative; width: 250px; height: 40px; overflow: hidden;}
.file_input_hidden
{font-size: 23px; position: absolute; right: 0px; top: 0px; opacity: 0;}
.file_input_button
{position: absolute; top: 0px;color: #FFFFFF;border-style: solid;background-color: #266266;
color: white; text-align: center; border-radius: 5px; width: 250px;height: 40px;}
.file_input_hidden
{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0;
filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0;}

.file_input_div_s{position: relative; width: 170px; height: 130px; overflow: hidden;
background-color: #e7f1ee; }
.file_input_hidden_s
{font-size: 23px; position: absolute; right: 0px; top: 0px; opacity: 0;}
.file_input_button_s
{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
width: 240px; height: 200px; padding: 30px;}
.file_input_hidden_s
{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0;
filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;}

.file_input_div_k
{position: relative; width: 300px; height: 200px; overflow: hidden;}
.file_input_button_k
{position: absolute; top: 0px; background-color: #e9e7e7; border: 2px solid #266266; width: 300px; height: 200px;}
.file_input_hidden_k
{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0;
filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;
width: 300px; height: 200px;}

.file_input_div_b{position: relative; width: 250px; height: 27px; overflow: hidden;}
.file_input_hidden_b
{font-size: 23px; position: absolute; right: 0px; top: 0px; opacity: 0;}
.file_input_button_b
{position: absolute; top: 0px;color: #FFFFFF;border-style: solid;background-color: #266266;
color: white; text-align: center; border-radius: 5px; width: 250px;height: 27px;}
.file_input_hidden_b
{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0;
filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0;}


table tr td label{margin-left: 10px;}
table tr th label{margin-left: 10px;}

form table {  margin: 0 auto;}
form table select { height: 34px;}
form .list_table th { background-color: rgb(247, 247, 247); }
table { border-collapse: collapse; }
table tr td span { margin-right: 35px;}
textarea { margin: 0 0 10px; width: 100%; }

.green_title { padding: 14px 40px; font-size: 18px; background-color: #266266; color: white; }
.product_title label { font-size: 18px; font-weight: bold; color: #333;  }
.product_title { border-bottom: 2px solid #266266; padding-bottom: 7px;}

/* 1-3 Admin_OrderList.html */
.Order_list { margin: 11px; }
.OL_c1, .OL_c2 { background-color: white; box-sizing: border-box; }
.OL_c1 form { margin-bottom: 11px; padding: 25px 80px 15px; }

form[name="order_list"] table { border: 2px solid #999; box-shadow: 8px 8px 8px rgb(163, 163, 163);}
form[name="order_list"] table tr td { border: 1px solid #999; height: 80px; font-size: 13px; text-align: center;}
form[name="order_list"] table tr th { border: 1px solid #999; height: 40px; font-size: 13px; font-weight: bold; }
form[name="order_list"] { width: 90%; margin: 50px auto; padding-bottom: 30px; }
form[name="order_list"] input[type="button"] { margin-right: 5px; margin-bottom: 5px; }
form[name="order_search"] table tr th { font-size: 14px; text-align: left;}
form[name="order_search"] table tr td { padding: 15px 0;}
form[name="order_search"] table input[type="text"] { width: 445px; }
form[name="order_search"] table input[type="date"] { width: 155px; }
form[name="order_search"] table span  { font-size: 14px;}
form[name="order_search"] table { margin-top: 15px;}
form[name="order_search"] table span input[type="checkbox"] { margin-right: 7px; }
form[name="order_search"] select  { height: 38px; margin-right: 8px;}

/* 1-5 Admin_ProductReview.html */
.Review_list { margin: 11px; }
.PR_c1 { margin-bottom: 11px; padding: 25px 80px 20px;}
.PR_c1, .PR_c2 { background-color: white; box-sizing: border-box; }
.PR_c2 #PR_c2_title p span { font-size: 14px; margin-left: 10px;}

form[name="review_list"] table { border: 2px solid #999; box-shadow: 8px 8px 8px rgb(163, 163, 163); }
form[name="review_list"] table tr td { border: 1px solid #999; height: 80px; font-size: 13px; text-align: center;}
form[name="review_list"] table tr th { border: 1px solid #999; height: 40px; font-size: 13px; font-weight: bold; }
form[name="review_list"] { width: 90%; margin: 50px auto; padding-bottom: 30px; }
form[name="review_list"] input[type="button"],form[name="coupon_list"] input[type="submit"] { margin-right: 5px; margin-bottom: 5px; }
form[name="pro_review_search"] table tr th { font-size: 14px; text-align: left;}
form[name="pro_review_search"] table tr td { padding: 15px 0;}
form[name="pro_review_search"] table input[type="text"] { width: 400px;}
form[name="pro_review_search"] table span  { font-size: 13px;}
form[name="pro_review_search"] table { margin-top: 15px;}
form[name="pro_review_search"] select  { height: 38px;}

/* 1-5 Admin_ProductAnswer.html */
.Pro_review { margin: 11px; }
.PA_c1 { margin-bottom: 11px; padding: 25px 80px; background-color: white; box-sizing: border-box; }

form[name="pro_review"] table, form[name="pro_question"] table { margin-top: 40px; }
form[name="pro_review"] { margin-top: 25px;}
form #pro_review tr th { font-size: 14px; text-align: center; border: 1px solid #999; width: 140px; height: 55px;}
form #pro_review tr td { padding: 14px 10px; border: 1px solid #999; font-size: 14px; background-color: rgb(240, 240, 240); width: 300px; }
form #pro_review input[type="text"] { width: 322px;}
form #pro_review input[type="date"] { width: 155px;}
form #pro_review span  { font-size: 13px;}
form #pro_review span input[type="checkbox"] { margin-right: 7px; }
form[name="pro_review"] p:nth-child(3) { margin-top: 50px; }
#review_answer { margin: 30px 60px; text-align: left; font-size: 15px;}
#review_answer tr th { padding: 10px 0;}
form #pro_review #files img{ width: 300px;}

/* 4-4 Admin_BrandList.html */
.Brand_list { margin: 11px; }
.BL_c1, .BL_c2 { background-color: white; box-sizing: border-box; }
.BL_c1 form { margin-bottom: 11px; padding: 25px 80px 20px; }
.BL_c2 #BL_c2_title p span { font-size: 14px; }

form .list_select { padding: 3px 7px; font-size: 13px; }
form[name="brand_list"] table { border: 2px solid #999; box-shadow: 8px 8px 8px rgb(163, 163, 163);}
form[name="brand_list"] table tr td { border: 1px solid #999; height: 80px; font-size: 13px; text-align: center;}
form[name="brand_list"] table tr th { border: 1px solid #999; height: 40px; font-size: 13px; font-weight: bold; }
form[name="brand_list"] { width: 90%; margin: 50PX auto 22px; padding-bottom: 30px; }
form[name="brand_list"] input[type="button"],form[name="coupon_list"] input[type="submit"] { margin-right: 5px; margin-bottom: 5px; }
form[name="brand_search"] table tr th { font-size: 14px; text-align: left;}
form[name="brand_search"] table tr td { padding: 15px 0;}
form[name="brand_search"] table input[type="text"] { width: 322px;}
form[name="brand_search"] table input[type="date"] { width: 155px;}
form[name="brand_search"] table { margin-top: 15px; }
form[name="brand_search"] table span  { font-size: 14px;}
form[name="brand_search"] table span input[type="checkbox"] { margin-right: 7px; }

.BL_c3 form { margin-bottom: 11px; padding: 25px 80px 20px; }
.BL_c3, .BL_c4 { background-color: white; box-sizing: border-box; margin: 11px;}
.BL_c4 #BL_c4_title p span { font-size: 14px; }

form[name="product_list"] table { border: 1px solid #999; box-shadow: 8px 8px 8px rgb(163, 163, 163);}
form[name="product_list"] table tr td { border: 1px solid #999; height: 80px; font-size: 13px; text-align: center;}
form[name="product_list"] table tr th { border: 1px solid #999; height: 40px; font-size: 13px; font-weight: bold; }
form[name="product_list"] { width: 90%; margin: 50px auto; padding-bottom: 30px; }
form[name="product_list"] input[type="button"] { margin-right: 5px; margin-bottom: 5px; }
form[name="product_search"] table tr th { font-size: 14px; text-align: left; }
form[name="product_search"] table { margin-top: 15px; }
form[name="product_search"] table tr td { padding: 15px 0; }
form[name="product_search"] table input[type="text"] { width: 322px; }
form[name="product_search"] table span  { font-size: 13px;}
form[name="product_search"] select  { height: 38px;}
form[name="product_search"] input[type="button"] { margin-left: 10px; height: 35px; width: 65px;}


/* 4-4 Admin_BrandCreate.html */
.Bcreate { margin: 11px; background-color: white;}
.Bcreate form { margin-bottom: 11px; padding: 25px 80px; }

form[name="brand_create"] table { margin:25px 0 0 80px;}
form[name="brand_create"] table tr th { padding-right: 60px; text-align: left; font-size: 14px;}
form[name="brand_create"] table tr td { padding: 15px 50px 15px 50px; font-size: 14px; }
form[name="brand_create"] table tr td label {  margin-left: 70px;  padding-left: 30px; border-left: 1px solid #999; }
form[name="brand_create"] table input[type="text"]  { width: 650px; margin-right: 10px; height: 40px;}
form[name="brand_create"] table input[name="banner"] { padding: 0; width: 220px; border: 1px solid #266266; color: #3c8b91;}
form[name="brand_create"] table input[type="submit"] { padding: 0; border-radius: 0; height: 27px; width: 450px;}
form[name="brand_create"] table input[type="submit"]:hover { color: #266266; background-color: white; border: 2px solid #266266;}
.banner_button { margin: 0;}
.banner_content { height: 200px; border: 1px solid #999; box-shadow: 5px 5px 5px gray; position: relative;}
.banner_notice { padding: 5px; font-size: 12px; color: rgb(236, 130, 8);}
.banner_button input[type="submit"] { color: white; background-color: #266266;}
#BCT_logo_img {width: 300px; height: 200px; border: 2px solid #262626;}

/* 4-4 Admin_BrandEdit.html */
.Bedit { margin: 11px; background-color: white;}
.Bedit form { margin-bottom: 11px; padding: 25px 80px; }

form[name="brand_edit"] table { margin:25px 0 0 80px; }
form[name="brand_edit"] table tr th { padding-right: 60px; text-align: left; font-size: 14px;}
form[name="brand_edit"] table tr td { padding: 15px 50px 15px 50px; font-size: 14px; }
form[name="brand_edit"] table tr td label {  margin-left: 70px;  padding-left: 30px; border-left: 1px solid #999; }
form[name="brand_edit"] table input[type="text"]  { width: 650px; margin-right: 10px; height: 40px;}
form[name="brand_edit"] table input[name="banner"] { padding: 0; width: 220px; border: 1px solid #266266; color: #3c8b91; }
form[name="brand_edit"] table input[type="submit"] { padding: 0; border-radius: 0; height: 27px; width: 450px;}
form[name="brand_edit"] table input[type="submit"]:hover { color: #266266; background-color: white; border: 2px solid #266266;}
#BE_c1_btnBox input { width: 450px; height: 46px; background-color: #266266; color: white; font-size: 15px; box-shadow: 6px 6px 6px rgb(168 168 168); border: 2px solid #98c0c2;}
#BE_c1_btnBox { font-size: 15px; margin-top: 50px;}
#BCE_banner{width:650px; height:160px; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
#BCT_banner{width:650px; height:160px; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}

/* 5-1 Admin_Notice.html */
.Notice { margin: 11px; }
.No_c1, .No_c2 { background-color: white; box-sizing: border-box; }
.No_c1 form { margin-bottom: 11px; padding: 25px 80px 20px; }
.No_c2 #No_c2_title p span { font-size: 14px; }

form .list_select { padding: 3px 7px; font-size: 13px; }
form[name="notice_list"] table { border: 2px solid #999; box-shadow: 8px 8px 8px rgb(163, 163, 163);}
form[name="notice_list"] table tr td { border: 1px solid #999; height: 80px; font-size: 13px; text-align: center;}
form[name="notice_list"] table tr th { border: 1px solid #999; height: 40px; font-size: 13px; font-weight: bold; }
form[name="notice_list"] { width: 90%; margin: 50px auto 22px; padding-bottom: 30px; }
form[name="notice_list"] input[type="button"] { margin-right: 5px; margin-bottom: 5px; }
form[name="notice_search"] table tr th { font-size: 14px; text-align: left;}
form[name="notice_search"] table tr td { padding: 10px 0;}
form[name="notice_search"] table input[type="text"] { width: 322px;}
form[name="notice_search"] table input[type="date"] { width: 155px;}
form[name="notice_search"] table span  { font-size: 13px;}
form[name="notice_search"] table { margin-top: 15px;}


/* 5-1 Admin_NoticeCreate.html */
.Ncreate { margin: 11px; background-color: white;}
.Ncreate form { margin-bottom: 11px; padding: 25px 80px; }
form[name="notice_create"] .green_title { margin-top: 40px;}
form[name="notice_create"] select { width: 150px; padding-left: 8px; height: 39px;}
form[name="notice_create"] table { margin:25px 0 0 80px;}
form[name="notice_create"] table tr th { padding-right: 60px; text-align: left; font-size: 14px;}
form[name="notice_create"] table tr td { padding: 20px 50px 5px 50px; font-size: 14px; }
form[name="notice_create"] table tr td label {  margin-left: 70px;  padding-left: 30px; border-left: 1px solid #999; }
form[name="notice_create"] table input[type="text"]  { width: 650px; margin-right: 10px; height: 39px; }

/* 5-5 Admin_UserEdit.html */
.Uedit {  margin: 11px; background-color: white; padding: 30px 50px; }
.Uedit form { margin-bottom: 11px; padding: 25px 80px 0; }

form[name="edit"] table { margin-top: 20px; }
form[name="edit"] table tr th { padding-right: 60px; text-align: left; font-size: 14px;}
form[name="edit"] table tr td { padding: 20px 50px 20px 50px; font-size: 14px; }
form[name="edit"] table tr td label {  margin-left: 70px;  padding-left: 30px; border-left: 1px solid #999; }
form[name="edit"] table input[type="text"], form[name="edit"] table input[type="email"],form[name="edit"] table input[type="password"],form[name="edit"] table input[type="tel"] { width: 400px;}
form[name="edit"] table tr td label .mail { padding-right: 15px;}
form[name="edit"] table .sel_date { width: 100px; padding-left: 8px; margin-right: 5px;}
form[name="edit"] table .sel_date:nth-child(2), form[name="edit"] table .sel_date:nth-child(3) { margin-left: 15px;}
form[name="edit"] table .sel_level { width: 180px; padding-left: 8px;}

/* UserList.html*/
.UList { margin: 11px; }
.UL_c1 form { margin-bottom: 11px; padding: 25px 80px;}

.UL_c1, .UL_c2 { background-color: white; box-sizing: border-box; }
form[name="user_search"] table { margin-top: 15px;}
form[name="user_search"] table tr th { font-size: 14px; text-align: left;}
form[name="user_search"] table tr td { padding: 10px 0;}
form[name="user_search"] table input[type="text"] { width: 440px;}
form[name="user_search"] table input[type="date"] { width: 155px;}
form[name="user_search"] table select { width: 155px; margin-right: 10px; height: 38px; padding-left: 8px;}
form[name="user_list"] table { border: 2px solid #999; box-shadow: 8px 8px 8px rgb(163, 163, 163);}
form[name="user_list"] table tr td { border: 1px solid #999; height: 80px; font-size: 13px; text-align: center;}
form[name="user_list"] table tr th { border: 1px solid #999; height: 40px; font-size: 13px; font-weight: bold; }
form[name="user_list"] { width: 90%; margin: 30px auto; padding-bottom: 30px; }
#Ul_c2_top {  font-size: 17px; font-weight: bold; margin-bottom: 10px;}
.Ul_c2_btnBox { margin-top: 10px;}

/* 팝업창 css */
.mw { position:fixed; top:0; left:0; width:100%; height:100%; display:none;}
.mw_s { position:fixed; top:0; left:0; width:100%; height:100%; display:none;}

.mw .bg {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.mw_s .bg_s {position:fixed;top:0;left:0;width:100%;height: 100%;background:#000;opacity:.5;filter:alpha(opacity=50)}

.mw .fg {position:absolute; top:50%; left:50%; width:600px; height:500px;  transform: translate(-50%, -50%); border:3px solid #ccc;background:#fff;}
.mw_s .fg_s {position:absolute; top:50%; left:50%; width:600px; height:260px;  transform: translate(-50%, -50%); border:3px solid #ccc;background:#fff;}
ul li { list-style: none; }

.Modal { margin: 30px auto; background-color: white; }
.modal_list ul li:hover { background-color: #ebebeb;}
.modal_list {  display: flex; margin-top: 30px; margin-left: 60px;}
.modal_list span { font-size: 16px; font-weight: bold; }
.modal_list ul { width: 383px; height: 250px; overflow-y: auto; border: 2px solid #ebebeb; margin-left: 27px;}
.modal_list ul li { font-size: 15px; height: 50px; box-sizing: border-box; padding-top: 13px; padding-left: 10px; border: 0.5px solid #ebebeb;}
.modal_search span { font-size: 16px; font-weight: bold; }
.modal_search input[type="button"] { width: 70px; height: 38px; font-size: 15px;}
.modal_search input[type="text"] { border: 1px solid #999; border-radius: 5px; }
.modal_search { text-align: center; }
button[type="submit"], button[type="reset"] { width: 70px; height: 38px; font-size: 15px; }
.modal_btn { margin-top: 20px;  text-align: center; }
.modal_btn input[type="reset"],.modal_btn input[type="button"] { box-shadow: 3px 3px 3px #999; height: 34px; width: 80px;}
.modal_closeBtn{width: 30px; height:30px; float: right; cursor: pointer; margin-top: -1px;}
.modal_greentitle { padding: 14px 10px 14px 20px; font-size: 18px; background-color: #266266; color: white; }

.modal_search_s span { font-size: 15px; font-weight: bold; }
.modal_search_s input[type="button"] { width: 70px; height: 38px; font-size: 15px;}
.modal_search_s input[type="text"] { border-radius: 5px; width: 100px;}
.modal_search_s {text-align: center;}

/**/
.PCcate_c1 {display: flex; flex-wrap: wrap; background-color: white; margin: 11px; padding: 30px;
justify-content: center;}
.PCcate_c1_cateBox_1 {margin-left: 10px;}
.PCcate_c1_cateBox_1 ul {width: 500px; height: 300px; overflow-y: auto; border: 2px solid #ebebeb;}
.PCcate_c1_cateBox_1 ul li {height: 50px; box-sizing: border-box; padding-top: 13px; padding-left: 10px;}
.PCcate_c1_cateBox_1 ul li:hover {background-color: #ebebeb;}
.PCcate_c1_cateBox_2 {width: 500px; height: 300px; border: 2px solid #ebebeb;}
#PCT_c1_title{margin-bottom: 10px;}

/* Admin_ProductList.html */
.PL_c1, .PL_c2 { background-color: white; box-sizing: border-box; }
.PL_c1 form { margin-bottom: 11px; padding: 25px 80px 15px; }

form[name="prod_list"] table { border: 2px solid #999; box-shadow: 8px 8px 8px rgb(163, 163, 163);}
form[name="prod_list"] table tr td { border: 1px solid #999; height: 80px; font-size: 13px; text-align: center;}
form[name="prod_list"] table tr th { border: 1px solid #999; height: 40px; font-size: 13px; font-weight: bold; }
form[name="prod_list"] { width: 90%; margin: 50px auto; padding-bottom: 30px; }
form[name="prod_list"] input[type="button"],form[name="prod_list"] input[type="submit"] { margin-right: 5px; margin-bottom: 5px; }
form[name="prod_search"] table tr th { font-size: 14px; text-align: left;}
form[name="prod_search"] table tr td { padding: 15px 0;}
form[name="prod_search"] table input[type="text"] { width: 462px; }
form[name="prod_search"] table span  { font-size: 14px;}
form[name="prod_search"] table { margin-top: 15px;}
form[name="prod_search"] table span input[type="checkbox"] { margin-right: 7px; }
form[name="prod_search"] select  { height: 38px; margin-right: 8px; width: 225px;}

/* content_title_click btn*/
#BL_click_1{padding-bottom: 10px;border-bottom: 5px solid #266266;}
#BL_click_2{padding-bottom: 10px;border-bottom: 5px solid #266266;}
#product_click_1{padding-bottom: 10px;border-bottom: 5px solid #266266;}
#product_click_2{padding-bottom: 10px;border-bottom: 5px solid #266266;}
#product_click_3{padding-bottom: 10px;border-bottom: 5px solid #266266;}
#EL_click_1{padding-bottom: 10px;border-bottom: 5px solid #266266;}
#EL_click_2{padding-bottom: 10px;border-bottom: 5px solid #266266;}

#CP_click_1.strong{
height: 55px; width: 100px; margin-right: 10px; background-color: #266266; border: 1px solid #999;
cursor: pointer; color:white;
}

#CP_click_2.strong{
height: 55px; width: 100px; margin-right: 10px; background-color: #266266; border: 1px solid #999;
cursor: pointer; color:white;
}

#CP_click_3.strong{
height: 55px; width: 100px; margin-right: 10px; background-color: #266266; border: 1px solid #999;
cursor: pointer; color:white;
}


/* index.html */
.preview_table { margin: 10px auto; font-size: 15px; color: #065157; text-align: center; border-radius: 15px;
border-style: hidden; box-shadow: 0 0 0 3px #dfebec;}
.preview_table tr td { height: 55px; width: 600px;}
.preview_table tr th { height: 55px; width: 600px;}
.preview_table tr:nth-child(even) { background-color: #eef7f8;  }
.Am_preview_list p { font-weight: bold; font-size: 17px; padding-left: 10px; color: #065157; }
.Am_preview_list th:hover, .Am_preview_list td:hover  { border-radius: 10px; background-color: #c8e4dc; }

/* 기간버튼 css */
.datebtn input { height: 37px; box-shadow: 3px 3px 3px #9B9B9B; border: 2px solid #266266;}


#RC_img {width: 400px; height: 200px; border: 1px solid #266266; background-color: #ebebeb; }
#RC_imgbox {display: flex; margin-bottom: 30px; position: relative; margin-top: 30px;}
.RC_Btnbox {margin-top: 175px; margin-left: 10px; margin-left: 30px;}

.pagination{cursor: pointer}

.brlist.on{background-color: #ebebeb;}











